;; shadow-cljs.edn
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :compiler-options {:optimizations :simple}
        :modules {:main {:init-fn stacks2doc.core/init}}
        :devtools {:http-root "public"
                   :http-port 3000}}}}
